ion-row {
  margin-bottom: 20px;
}
.background-photo-small{
  height: 250px;
  background: url('../../../assets/photos/fairs-selection-page-image-small.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background-photo-large{
  height: 95vh;
  background: url('../../../assets/photos/fairs-selection-page-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ion-item {
  --background: #faa71b;
  border: none;
  height: 50px;
}
.form-wrapper {
  background: white;
  padding: 2em;
  box-shadow: 1px 1px 30px #2224;
  border-radius: 10px;
  position: relative;
  top: 100px;

  h3 {
    color: #0055a5;
  }

  p {
    color: #333;
  }
}
ion-select::part(icon) {
  color: white;
  font-size: 2em;
  opacity: 1;
  position: relative;
  left: 0px;
}
.select-icon-inner {
  left: -5px;
  margin-top: -6px;
  border-top: 14px solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
ion-select {
  width: 100%;
  background: none;
  color: white;
  opacity: 1;
  --placeholder-opacity: 1 !important;
  --icon-opaacity: 1 !important;
}

h1{
  color: #0055a5;
  font-size: 3em;
  z-index: 999;
  margin-top: 40px;
}

h2 {
  font-weight: 600;
  font-size: 1.45em;
  line-height: 1.85em;
  background: #faa71b;
  color: white;
  padding: 5px 0px 5px 20px;
  margin-bottom: 24px;
  border-radius: 5px;
}

ion-select-option {
  background: white;
}

.desciption {
  font-size: 1em;
  line-height: 1.6em;
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f0f0;
  color: #333;
}

.off{
  opacity: 0;
}

.on {
  opacity: 0;
  animation: slide-up 0.2s ease .5s forwards;
}
.green-button {
  height: 50px;
  width: 100%;
  font-size: 1em;
  --background: #2da847;
  --border-radius: 5px;
}


li {
  font-size: 1.7em;
  margin: 10px 0px;
  color: #0055a5;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}