ion-grid {
    background: #fafcff;
}
.loading {
    height: 100vh;
    position: absolute;
    z-index: 9998;
    width: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(2.5);
    animation: loading-fade-out 500ms ease 1600ms forwards;
}
.top-toolbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 1px 1px 26px #999;
    ion-toolbar {
        --background: #eee;
        padding: 0.2em 0.4em;
    }
    .download-button{
        --background: #00c400;
        font-size: 0.7em;
        --border-radius: 6px;

        ion-icon {
            margin-right: 4px;
        }
    }
}
.landing-page-button {
    --background: #faa71b;
    padding: 0.2em;
    margin: 10px 0;
    position: relative;
    top: 50px;
    width: 250px;
    height: 64px;
    --border-radius: 50px;
    font-size: 1.15em;

}
.section-header {
    height: 30px;
    width: 158px;
    padding: 0.3em;
    margin-top: 200px;
    background: #0055a5;
    border-radius: 5px;
}
.header {
    background-color: #eee;
    background-image: url('../../../assets/photos/landing-page-header-background-large.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 0px 115px 0px;
    border-bottom: 14px solid #FAA71b;
    height: 800px;
    z-index: 9999;
    opacity: 0;
    transition: ease-in;
    animation:  header-photo-fade-in 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 2000ms forwards;

    .message-wrapper {
        background: #0055a5;
        position: absolute;
        bottom: 60px;
        border-radius: 10px;
        padding: 2em;
        box-shadow: 1px 1px 27px #191919;
        opacity: 0;
        animation: slide-up 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 2500ms forwards;

        h3 {
            background: #001b35;
            margin: 1em 0;
            width: 158px;
            padding: 1em;
            border-radius: 12px;
        }


        .fair-info {
            background: #2323232b;
            box-shadow: inset 1px 1px 11px #2222220d;
            padding: 0.1em 1em;
        }

        h1 {
            font-size: 2em;
            position: relative;
            top: -16px;
        }
        ion-toolbar {
            --background: none;

            .header-register-for-fair {
                --background: #00c400;
                width: 220px;
                height: 45px;
                margin-top: 24px;
            }

            ion-button {
                --background: #189aed;
                --border-style: solid;
                --border-width: 2.6px;
                --border-radius: 20px;
                --color-focused: #faa71b;
                width: 120px;
                height: 35px;
                margin-right: 10px;
                position: relative;
                right: 4px;
            }
        }
    }
}
.upcoming {
    background-color: #0055a5;
    box-shadow: 0 1px 10px #444;
    padding-bottom: 3.5em;
    height: auto;
    border-radius: 20px 20px 10px;
    position: relative;
    top: 30px;
    opacity: 0;
    animation: slide-up 500ms cubic-bezier(0.15, 0.82, 0.165, 1) 2500ms forwards;

    h1 {
        color: white;
        font-size: 2em;
        border-bottom: 1px solid white;
        padding-bottom: 0.5em;
    }
    h3 {
        width: 150px;
        padding: 0.5em;
        // background: #00c400;
        border-radius: 8px;
    }
    p {
        color: white;
        font-size: 1.3em;
        line-height: 1em;
    }
}
@keyframes slide-up {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes header-photo-fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loading-fade-out {
    0%{
        display: flex;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
.down-arrow-illustration {
    height: 300px;
    background: #189aed;
    height: 500px;
}
.fyf {
    // background-color: #ccc;
    height: auto;
    padding: 120px 0
}
.about-fyf { 
    background-color: white;
    font-size: 1.3em;
}
.fyf-ill {
    // background: #eee;
    height: 300px;
    text-align: center;
    img {
        background: linear-gradient(
            45deg
            , #0055a5, #faab17);
        background-attachment: fixed;
        border-radius: 300px;
        height: 300px;
        width: 300px;
        margin: 3em 0;
    }
}
.fyf-info {
    // background: #ddd;
    height: auto;
}
.fyf-feature-desktop {
    background-color: white;
    min-height: 150px;
    border-radius: 10px;
    font-size: 1.3em;
    border-left: 7px #0055a5 solid;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);

    ion-icon {
        color: #0055a5;
        font-size: 3em;
        margin-top: 0.5em;
    }
    p {
        font-size: 0.8em;
    }
}
.fyf-feature {
    padding: 0.3em;
    margin: 0.8em 0;
    height: auto200px;
    border-radius: 10px;
    font-size: 1.1em;
    background: #f4faff;
    border-left: 10px #0055a5 solid;
    box-shadow: 1px 1px 30px #c5c5c5;
    p {
        width: 260px;
        margin: 0 22px;
        font-size: 1.15em;
    }
    .fyf-feature-icon {
        width: 100px;
        height: 100px;
        // background: red;
        margin: 0 auto;

        ion-icon {
            font-size: 3em;
            color: #0055a5;
            margin-top: 20px;
        }
    }
}
.second-background-photo {
    background-image:  url('../../../assets/photos/landing-page-photo.jpg');

    height: 400px;
    // background-attachment: fixed;
    // background-position: -635px 0;
    margin: 1em 0.5em;
    background-size: cover;
    background-repeat: none;
}
.third-background-photo {
    background-image: url('../../../assets/photos/fair-photo-volunteer.jpg');
    height: 510px;
    margin: 1em 0.5em;
    // background-attachment: fixed;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
}
.fourth-background-photo {
    background-image: url('../../../assets/photos/fair-photo-volunteer.jpg');
    height: 510px;
    margin: 1em 0.5em;
    // background-attachment: fixed;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
}
.resources-desktop-header {
    font-size: 2.5em;
    color: white;
}
.all-resources-button {
    display: inline;
    --background: #faa71b;
}
.resources {
    height: auto;
    // background-color: #eee;
    // padding: 1em;
    background-color: #001b35;

    .resource {
        background: #fff;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 13%);
        border-radius: 13px;
        margin-bottom: 42px;
        margin-left: 1.8em;
        padding: 1.2em;
        min-height: 120px;

        h4 {
            color: #333;
            font-size: 2em;
            margin-bottom: 24px;
            display: inline;
        }
        img {
            height: 40px;
            display: inline;
        }
        p {
            color: #222;
            font-size: 1em;
            margin-top: 24px;
            padding-bottom: 1em;
        }
        ion-button {
            --background: #0055a5;
            float: right;
        }
    }
}
.about {
    
    background-color: white;
    padding: 6em 0.3em;
    height: auto;
    h1 {
        color: #001b35;
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }
}
.about-item-wrapper {
    margin-top: 100px;
    box-shadow: 1px 1px 68px #cecece;
    padding: 2em;
    border-radius: 10px;
}
.about-uwsem {
    background-color: white;
    padding: 6em 0.3em;
    height: auto;
    h1 {
        color: #001b35;
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }
}
.footer {
    background-color: #0055a5;
    height: 500px;
    padding: 0 2em;
    display: flex;
    align-items: center;

    a {
        padding: 1em;
        font-size: 3em;
        color: white
    }
    .footer-message {
        font-size: 1.4em;
        color: white;
        border-bottom: 2px solid white;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 600px) {
    .section-header {
        height: 30px;
        padding: 0.3em;
        margin-left: 0.5em;
        margin-bottom: 2em;
        margin-top: 6em;
        background: #001b35;
        border-radius: 5px;
    }
    .header {
        height: 400px;
        background-image: url('../../../assets/photos/landing-page-header-background-medium.png');
        background-size: auto 400px;
        background-position: center;
        background-attachment: scroll;
    }
    .fyf-feature {
        display: flex;
        align-items: center;
    }
    .second-background-photo, .third-background-photo {
        height: 400px;
        background-size: auto 500px;
        background-position-x: -255px;
        background-position-y: -2px;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        border-radius: 0 0px 115px 0px;
        border-bottom: 14px solid #FAA71b;
        box-shadow: inset 1px 1px 63px 33px #000000a6;
    }
    .resources {
        height: auto;
        padding-bottom: 80px;
        background: linear-gradient(
            45deg
            , #0055a5, #faab17);
        background-attachment: fixed;
        margin-top: 100px;
        .resource {
            height: 500px;
        }
        ion-button {
            margin-top: 82px;
        }
    }
    .about {
        background: linear-gradient(
        45deg, #0055a5, #faab17);
        background-attachment: fixed;
        margin-top: 100px;
    }

    .about-item-wrapper {
        background: #fff;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 13%);
        border-radius: 13px;
        margin: 2em 0;
        padding: 1.2em;
        img {
            margin-top: 54px;
        }
        p {
            font-size: 1.1em;
        }
    }
}

@media screen and (max-width: 1000px) {
    .upcoming {
        h3 {
            background: #001b35;
            margin: 1em 0;
        }
        .fair-info {
            background: #2323232b;
            box-shadow: inset 1px 1px 11px #2222220d;
            padding: 0.1em 1em;
        }
        ion-button {
            width: 150px;
        }
        .register {
            margin-top: 56px;
            ion-button {
                --background: #00c400;
            }
        }
        .download-button {
            margin-top: 56px;
            ion-button {
                --background: #ffffff26;
                --color: white;
                --border-color: #00c400;
                --border-style: solid;
                --border-width: 3px;
            }
            }
    }
}
