<ion-content>
  <ion-grid>
    <!-- Mobile Toolbar -->
    <ion-row class="top-toolbar ion-hide-lg-up">
      <ion-toolbar>
        <ion-buttons slot="start">
          <img height="48" src="../../../assets/United_Way_Logo_4.png" alt="United Way Southeast Michigan Logo">
        </ion-buttons>
        <ion-buttons slot="end">
          <p style="color: #0055a5;
          font-weight: 600;
          font-size: 1.1em;">United Way SEM Fairs</p>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <div class="loading ion-text-center">
      <ion-spinner color="primary" name="bubbles"></ion-spinner>
    </div>
    <!-- Header -->
    <ion-row class="header ion-justify-content-center">
      <ion-col class="message-wrapper ion-hide-lg-down" size="6">
        <!-- <h1>United Way Southeastern Michigan Fairs</h1> -->
        <h3>Upcoming Fair: </h3>
        <div class="fair-info">
          <p style="color: #00c400; font-weight: 600;">Innovation Tech Fair</p>
          <p style="color: white;">June 17th, 2021</p>
          <p style="color: white;">9:00 AM</p>
        </div>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button class="header-register-for-fair" (click)="fairsPage()">
              Register for Fair
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <!-- <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="resources()">
              Resources
            </ion-button>
            <ion-button>
              FYF
            </ion-button>
            <ion-button>
              Download
            </ion-button>
          </ion-buttons>
        </ion-toolbar> -->
      </ion-col>
    </ion-row>
    <!-- Upcoming -->
    <ion-row class="ion-justify-content-center ion-hide-lg-up">
      <ion-col style="padding: 2em;" class="upcoming" size-xs="11" size-sm="10" size-md="8">
        <h3>Upcoming Fair</h3>
        <div class="fair-info">
          <p style="color: #00c400; font-weight: 600;">Innovation Tech Fair</p>
          <p>June 17th, 2021</p>
          <p>9:00 AM</p>
        </div>

        <div class="register">
          <p>Register for upcoming fair.</p>
          <ion-button  (click)="fairsPage()">
            Register
          </ion-button>
        </div>
        <div class="download-button">
          <p>Download this app to your device!</p>
          <ion-button (click)="download()">
            Download
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <!-- After the fair -->
    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="11" size-lg="8">
        <div class="down-arrow-illustration"></div>
      </ion-col>
    </ion-row> -->
    <!-- FYF -->
    <ion-row class="fyf ion-justify-content-center">
      <ion-col class="ion-align-items-centers"  size-xs="11" size-sm="11" size-lg="5">
        <h2 style="color: #0055a5; font-size: 2.4em;">After the fair, continue connecting with your community!</h2>
        <h4 style="color: #faa71b;">What is Find Your Future? (FYF)</h4>
        <p class="about-fyf">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      </ion-col>
      <ion-col class="fyf-ill" size-xs="12" size-sm="11" size-lg="5">
        <img height="300" src="../../../assets/FYF-App-Illustration.svg" alt="" srcset="">
      </ion-col>
      <ion-col style="margin-top: 100px;" class="fyf-info ion-text-center" size-sm="11" size-lg="11">
        <ion-row class="ion-justify-content-center">
          <ion-col class="fyf-feature ion-hide-lg-up" size-xs="11" size-sm="11" size-md="6">
            <div class="fyf-feature-icon">
              <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <div class="ion-text-center">
              <p>Search for Jobs</p>
            </div>
          </ion-col>
          <ion-col class="fyf-feature ion-hide-lg-up" size-xs="11" size-sm="11" size-md="5">
            <div class="fyf-feature-icon">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
              <p>Go to local Events.</p>
          </ion-col>
          <ion-col class="fyf-feature ion-hide-lg-up" size-xs="11" size-sm="11" size-md="5">
            <div class="fyf-feature-icon">
              <ion-icon name="newspaper-outline"></ion-icon>
            </div>
              <p>Share and comment on Posts in FYF community.</p>
          </ion-col>
          <ion-col class="fyf-feature ion-hide-lg-up" size-xs="11" size-sm="11" size-md="5">
            <div class="fyf-feature-icon">
              <ion-icon src="../assets/icon/question-inactive.svg"></ion-icon>
            </div>
              <p>Reach out to a Mentor verified by United Way.</p>
          </ion-col>
          <!-- Desktop -->
          <ion-col class="ion-hide-lg-down" size="2.8">
            <div class="fyf-feature-desktop">
              <div style="margin-top: 100px;">
                <ion-icon name="briefcase-outline"></ion-icon>
                <p>Search for Jobs.</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="ion-hide-lg-down" size="2.8">
            <div class="fyf-feature-desktop">
              <div style="margin-top: 100px;">
                <ion-icon name="calendar-outline"></ion-icon>
                <p>Go to local Events.</p>
              </div>
            </div>
          </ion-col>
          <div style="height: 100px;"></div>
          <ion-col class="ion-hide-lg-down" size="2.8">
            <div class="fyf-feature-desktop" >
              <div style="margin-top: 100px;">
                <ion-icon name="newspaper-outline"></ion-icon>
                <p>Share and comment on Posts in FYF community.</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="ion-hide-lg-down"size="2.8">
            <div class="fyf-feature-desktop">
              <div style="margin-top: 100px;">
                <ion-icon src="../assets/icon/question-inactive.svg"></ion-icon>
                <p>Reach out to a Mentor verified by United Way.</p>
              </div>
            </div>
          </ion-col>
          <ion-col class="ion-text-center" size-xs="11" size-sm="11" size-md="5" size-lg="6">
            <ion-button class="landing-page-button" href="https://findyourfuturesem.org">
              Go to FYF
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Resources -->
    <ion-row class="resources">
      <ion-col class="second-background-photo" size-xs="11" size-sm="11" size-lg="5.8">

      </ion-col>
      <ion-col style="padding: 3em 0.4em;" size-xs="11" size-sm="11" size-lg="5.7">
        <div style="margin-left: 2em;">
          <h1 class="ion-hide-md-up" class="resources-desktop-header" style="display: inline;">Resources</h1>
          <ion-button style="display: inline; float: right;" class="all-resources-button" (click)="resources()">
            View All Resources
          </ion-button>
          <p style="color: white; font-size: 0.9em;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <ion-row style="overflow: scroll;">
          <ion-col class="resource" *ngFor="let resource of resourcesPreivew" size-xs="11" size-sm="11" size-md="11" size-lg="11" size-xl="11">
            <!-- <h4>{{resource.name}}</h4> -->
            <img src="{{resource.logo}}" alt="" srcset="">
            <ion-button href="{{resource.url}}">
              Website
            </ion-button>
            <p>{{resource.description}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Background Picture -->
    <ion-row class="about">
      <ion-col size-xs="11" size-sm="11" size-lg="5.7">
        <div style="height: 500px;">
         <!-- United Way -->
         <img height="50" src="../../../assets/United_Way_Logo_1.svg" alt="United Way Logo">
         <h1>Who is United Way?</h1>
           <p style="background: white; box-shadow: 1px 1px 10px rbga(0,0,0,0.4); padding: 1em 3em 0em 0em; border-radius: 10px;">
             United Way improves lives by mobilizing the caring power of communities around the world to advance the common good.
             We all have a stake in each other's success. We all benefit when a child succeeds in school, when someone finds a job that sustains a family, or when more people get quality, affordable health care.<br><br>
   
             The solutions we create for communities around the world go beyond short-term charity for a few. When United Way’s support for Community Schools helps Estafania flourish in elementary school, it does more that strengthen her foundation for success in school, work and life. Community Schools are a proven strategy that removes barriers to learning, and instills students with confidence. We believe that much of what influences a young person’s education happens outside the classroom. That's why we support parent education, adult job training, food pantries, after-school homework clubs and more as part of Community Schools. Equipping Estafania and her family -- and those of her peers -- with tools for success translates into a safer, healthier, and more equitable community for everyone.<br><br>
           With your support, we're fighting for the healtheducation and financial stability of every person ievery community. United, we succeed.
           You can view United Way's website <a href="https://www.unitedway.org/">here</a>.
          
          </p>
        </div>
      </ion-col>
      <ion-col class="third-background-photo" size-xs="11" size-sm="11" size-lg="5.7">
      </ion-col>
    </ion-row>

    <!-- UW SEM -->
    <ion-row class="about-uwsem">
      <ion-col class="fourth-background-photo" size-xs="11" size-sm="11" size-lg="5.7">
        
      </ion-col>
      <ion-col size-xs="11" size-sm="11" size-lg="5.7">
        <div style="height: 500px;">
          <img height="70" src="../../../assets/uwse_logo.png" alt="United Way Southeastern Michigan Logo">
              <h1>Who is United Way Southeastern Michigan?</h1>
              <p>For more than 100 years, we’ve responded to the community’s most pressing challenges around children and family, health and the community. Honored with a symbolic or actual “torch drive” each year, our annual campaign has brought thousands of companies and individuals together for a common cause: supporting our Southeastern Michigan communities.<br><br>
                In 2005, United Way Community Services and United Way of Oakland County evolved and voted to create a new organization: United Way for Southeastern Michigan.
                And in 2017, we celebrated A Century of Living United — our organization’s 100th anniversary.
                Although our name has evolved over the years, our core mission to positively impact the community through collaborative effort has never changed.<br>
              <br>
              You can view United Way Southeastern's website <a href="https://unitedwaysem.org/">here</a>
              </p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Footer -->
    <ion-row class="footer ion-justify-content-center">
      <ion-col size-xs="8" size-sm="7" size-md="5" size-lg="4">
        <img height="50" src="../../../assets/United-Way-symbol.svg" alt="" srcset="">
        <p class="footer-message">Follow United Way Southeastern Michigan on these platforms:</p>
      </ion-col>
      <ion-col size-xs="3" size-sm="7" size-md="5" size-lg="4">
        <a href="https://www.facebook.com/UnitedWaySEM/" class="icon-wrapper ion-text-center"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.instagram.com/unitedwaysem/?hl=en" class="icon-wrapper ion-text-center"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://twitter.com/UnitedWaySEM?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-wrapper ion-text-center"><ion-icon name="logo-twitter"></ion-icon></a>
      </ion-col>
      <ion-col size-xs="11" size-sm="7" size-md="5" size-lg="8">
        <p style="color: white;">Terms of Use</p>
        <p style="color: white;">Privacy Policy</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
