/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body {
  box-sizing: border-box;
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ion-grid {
  --ion-grid-padding: 0px;
}

#logo {
  height: 40px;
}

ion-header {
  background: none;
}

ion-content {
  --background: white;
}


ion-toolbar {
  --background: #0055a5;
  --color: white;
}

p {
  color: #333;
}

.line-input {
  background: none;

  ion-item {
    // --background: white;
      --border-color: transparent!important;
      --highlight-height: 0;
      height: 40px;
      margin: 8px auto;
      border: 2px solid #0055a5;
      transition: 0.2s;
      border-radius: 4px;
      opacity: 1;
      --background: white;
      &.item-has-focus {
          padding: 6px 0;
          border: 2px solid #faa71b;
          //  background: rgba(255,179,81,0.1);
          opacity: 1;
          color: #005191;
          font-size: 1.1em;
          font-weight: 500;
          letter-spacing: 0.05em;
          box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
      }
      ion-label {
        opacity: 1;
        color: #005191;
        word-wrap: break-word;
        overflow-wrap: break-word;
        display: inline;
      }
  }
}

ion-select {
  /* Applies to the value and placeholder color */
  color: #005191;
  background: white;
  font-weight: 600;
  font-size: 1.1em;

  /* Set a different placeholder color */

  /* Set full opacity on the placeholder */
}

