.background-photo-partner{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-partner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-volunteer{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-volunteer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-student{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-students.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-chaperone{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-chaporone.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

.background-photo-partner-small{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-partner-small.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-volunteer-small{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-volunteer-small.jpg');
  background-size: cover;
  background-position: 10% 0%;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-student-small{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-students-small.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}
.background-photo-chaperone-small{
  height: 250px;
  background: url('../../../../assets/photos/fair-photo-chaporone-small.jpg');
  background-size: cover;
  background-position: 10% 0%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

ion-fab-button {
  --background: linear-gradient(#4dc066, #2da847);
  --background-hover: none;
  position: relative;
  bottom: 50px;
  right: 20px;
  transform: scale(1.25);
  ion-icon {
    font-size: 3.2em;
  }
}

.fair-header {
  height: auto;
  padding: 30px 0;
  // background: lightcyan;
}

h1 {
  color: #0055a5;
  margin-bottom: 54px;
  font-size: 2em;
}
h2 {
  color: #0055a5;
  margin-bottom: 54px;
  font-size: 2em;
}
h5{
  margin-top: 42px;
  color: #faa71b;
}

.usertype {
  text-transform: capitalize;
  color: #faa71b;
  border-radius: 5px;
  margin-top: 64px;
  font-weight: 800;
  font-size: 2.3em;
}

.fair-date {
  ion-icon {
    font-size: 2.2em;
    position: relative;
    top: 10px;
  }
}

.fair-address {
  padding-bottom: 30px;
  position: relative;
  top: -20px;
  ion-icon {
    font-size: 2.2em;
    position: relative;
    top: 10px;
  }
}

.fair-summary {
  font-size: 1.1em;
  line-height: 1.3em;
  color: #111;
  padding-bottom: 40px;
}

#info {
  // background: #edf3f8;
}

.agenda {
  padding: 1.5em 2em 3em 2em;
  // background: lightgray;
  opacity: 0;
  height: auto;
  transition: 0.5s;
  animation: popin 500ms ease forwards;
}

.parking {
  padding: 1.5em 2em 3em 2em;
  // background: lightgreen;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.faq {
  padding: 1.5em 2em 3em 2em;
  // background: lightcoral;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.booth-partners {
  padding: 1.5em 2em 3em 2em;
  border-bottom: 1px solid rgb(221, 221, 221);
  // h1 {
  //   margin-top: 100px;
  //   margin-bottom: 20px;
  // }

  img {
    height: 80px; width: 80px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    top: 10px;
  }

  .partner-link {
    background: #edf3f8;
    color: #0055a5;
    padding: 8px 13px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: 30px;
    width: 100px;
    text-decoration: none;
  }

  .organization {
    margin-bottom: 25px;
    color: #faa71b;
    font-size: 2em;
  }

  .partner-description{
    position: relative;
    top: -10px;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #333;
  }

  .divider {
    width: 100px;
    height: 1.5px;
    background: rgb(199, 198, 198);
    float: right;
  }

  // background: lightblue;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.survey {
  padding: 1.5em 2em 3em 2em;
  // background: lightgrey;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;

  .divider {
    width: 100px;
    height: 1.5px;
    background: rgb(199, 198, 198);
    float: right;
  }

  .survey-validation {
    background: #edf3f8;
    padding: 0.8em;
    margin-top: 30px;
  }
}

.agenda-item {
  margin: 0px 0px 15px 0px;
  position: relative;
  left: -15px;
  --background: white;
  ion-badge {
    font-size: 1.1em;
    width: 4em;
    padding: 12px;
    background: #faab71;
    color: white;
    border: 2px solid #faab71;
  }
  h2{
    font-size: 1.3em;
    color: #333;
  }
}


ion-col {
  // margin-bottom: 100px;
}
ion-item:hover{
  font-weight: 600;
}

h5 {
  color: #666;
}

ion-list-header{
  padding: 0;
}

ion-radio-group{
  h3 {
    margin-top: 80px;
    color: #333;
  }
  p {
    color: #faa71b;
    font-size: 1.4em;
    font-weight: 600;
  }
}

ion-list {
  background: white;
}

.green-button {
  height: 50px;
  width: 100%;
  font-size: 1em;
  --background: white;
  --color: #2da847;
  --border-color: #2da847;
  --border-style: solid;
  --border-width: 2px;
  --border-radius: 5px;
  --box-shadow: none;
}

.off{
  visibility: hidden;
  opacity: 0;
  animation: popin-reverse 1s ease forwards;
}


@keyframes popin {
  0% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes popin-reverse {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}