<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="end" name="close"></ion-icon>
      <ion-title>Register as Booth Partner</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="10">
        <form [formGroup]="resgisterForm" (ngSubmit)="registerPartner()" id="proPicForm">
          <ion-list class="line-input">

            <!-- First & Last Name -->
            <ion-item>
              <ion-input required formControlName="name"
              placeholder="Name" type="text"></ion-input>
            </ion-item>

            <!-- Email -->
            <ion-item>
              <ion-input required formControlName="email"
              placeholder="Email" type="email"></ion-input>
            </ion-item>

            <!-- Email Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="resgisterForm
                      .get('email')
                      .hasError(validation.type) && (resgisterForm.get('email')
                      .dirty || resgisterForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

            <!-- Company/Organization/School -->
            <ion-item>
              <ion-input required formControlName="organization"
              placeholder="Company" type="text"></ion-input>
            </ion-item>

            <!-- Phone -->
            <ion-item>
                <ion-input
                  formControlName="phone"
                  maxlength="10"
                  minlength="10" placeholder="Phone # (xx)xxx-xxxx"></ion-input>
            </ion-item>

            <!-- URL -->
            <ion-item>
                <ion-input
                  formControlName="url"
                  maxlength="500" placeholder="Website URL">http://</ion-input>
            </ion-item>

            <!-- Phone Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.phone">
                <div class="error-message"
                *ngIf="resgisterForm
                  .get('phone')
                  .hasError(validation.type) && (resgisterForm.get('phone')
                  .dirty || resgisterForm.get('phone').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <!-- Gender -->
            <ion-item>
               <ion-select (ionChange)="selectGender($event)"
               placeholder="Select School">
                 <ion-select-option value="Male">Male</ion-select-option>
                 <ion-select-option value="Female">Female</ion-select-option>
               </ion-select>
           </ion-item>

           <!-- Lunch -->
           <ion-item style="margin-bottom: 10px;">
              <ion-select (ionChange)="selectLunch($event)"
              placeholder="Select Lunch">
                <ion-select-option *ngFor="let lunch of lunches" value="{{lunch}}">{{lunch}}</ion-select-option>
              </ion-select>
          </ion-item>

          <!-- Logo -->
          <p style="margin-bottom: 42px;">Please upload a logo for your organization.</p>
          <input
            name="booth-partner-logo"
            (change)="getFormData($event)" placeholder="Upload Image"
            type="file"/>

          <!-- User has uploaded cropped profile picture -->
            <p style="font-size: 0.8em; color: #999;" *ngIf="!uploadedPhoto">No Photo uploaded.</p>
            <img
            class="upload-picture-wrapper"
            *ngIf="uploadedPhoto"
            src="{{uploadedPhotoURL}}" />

            <p>Please tell us the names of your collegues that will be joining you. Seperate each name by a comma ( , ).</p>
            <!-- Phone -->
            <ion-item>
              <ion-input
                formControlName="colleagues"
                maxlength="150" placeholder="Example: John, Jane, Terry"></ion-input>
          </ion-item>

            <p>Please enter a description of what your organization does. This will be displayed for students who want to have more information about your organization. </p>
            <ion-textarea #descriptionChars
            maxlength="600"
            rows="10"
            formControlName="description" placeholder="Type here">
            </ion-textarea>
            <p class="error-message">{{descriptionChars.value.length}} / 600 character limit</p>

          </ion-list>

          <div style="text-align: center; margin: 100px auto">
            <ion-button type="submit" class="green-button">
              Register
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="registered">
    <ion-row class="ion-justify-content-center ion-align-items-center confirm-popout">
      <ion-col class="ion-text-center" size="8">
        <ion-icon [className]="registered ? 'slide-up' : 'off'" name="checkmark-circle-outline" size="large" color="success" ></ion-icon>
        <h3>Thank you for Registering as a Partner for Tech Fair.</h3>
        <ion-button class="green-button" (click)="confirm()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
