<ion-app>
  <ion-router-outlet></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resources">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="selection">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Fairs</ion-label>
    </ion-tab-button>

    <ion-tab-button href="http://www.google.com">
      <img height="20px" src="../assets/icons/fyf-white-icon.svg" alt="" srcset="">
      <ion-label>FYF</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>

