ion-label {
  font-size: 1em;
}
#desktop-toolbar{
  --background: white;
  color: #0055a5;
  border: none;
  position: relative;
  top: -4px;
  transition: 500ms;
  box-shadow: 1px 1px 26px rgb(0 0 0 / 10%);
  .active-link {
    transition: 0.2s;
    font-size: 1.15em;
    --background: #faa81b26;
    border-left: 3px solid #faa71b;
  }
  h1 {
    font-size: 1.4em;
    margin-left: 1em;
  }
  .desktop-link {
    height: 70px;
    width: 84px;
    font-size: 0.7em;
  }
  img {
    height: 35px;
    width: unset;
  }
}
.mobile-bar{
  --background: #001b35;
  --color: white;
}
ion-tab-button {
  --color-selected: #faa71b;
}
.sc-ion-label-md-h {
  font-size: 0.9em;
}

@media only screen and (min-width: 767px) {
  #ion-tabs {
    display: none;
  }
}