<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title slot="start">Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 180px;" class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="9" size-lg="5">
        <img src="../../../assets/icons/blue-book.svg">
        <h1 style="color: #0055a5; font-size: 3em;">Resources</h1>
        <p class="page-info">Here are some other organizations that offer many different afterchool and summer programs. Please visit their respective websites to learn more about them!</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 200px;" class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="5">
        <ion-row class="resource" *ngFor="let resource of resources">
          <ion-col class="ion-align-items-center" style="height: 100px" size="2">
            <img src="{{resource.logo}}" alt="">
          </ion-col>
          <ion-col class="ion-align-items-center" style="height: 100px" size="5">
            <p class="name">{{resource.name}}</p>
          </ion-col>
          <ion-col class="ion-align-items-center" style="height: 100px" size="3">
            <ion-button class="blue-button link ion-float-right" href="{{resource.url}}" target="_blank">
              LINK
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
