#desktop-toolbar{
  --background: white;
  --color: #0055a5;
}
ion-content {
  transition: 0.3s;
  position: relative;
  top: -24px;
}
.background {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  border-radius: 0 0px 115px 115px;
  border-bottom: 14px solid #FAA71b;
  background-image:
    linear-gradient(0deg, rgba(0,85,165,0.5) 75%, rgba(250,167,27,0.2060679271708684) 100%), url('../../../assets/Keep-in-Touch-Picture-Large.png');
  background-size: auto 800px;
  background-position-x: 200px;
  background-position-y: -150px;
  background-attachment: fixed;
}
.header {
  margin-top: 40px;

  h1 {
    color: #222;
    font-size: 2.5em;
    margin: 30px 0;
  }
  .resources-icon {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  top: 24px;
  }
}
.page-info {
  color: #222;
  font-size: 1.45em;
  padding-bottom: 3em;
}
.filtering-wrapper {
  transition: 0.2s;
  ion-spinner {
    margin: 50px 0;
  }
}
.filter {
  position: sticky;
  height: 55px;
  top: 94px;
  z-index: 9999;
  background: #efefef;
  box-shadow: inset 1px 1px 10px #d0d0d0;
  padding: 1.9em 0 0 0;
  margin-bottom: 38px;
    .filter-button {
      --background: #0303031c;
      --border-radius: 50px;
      --box-shadow: none;
      width: 80px;
      height: 28px;
      color: #0055a5;
      // margin-right: 32px;
      /* padding: 1em; */
      font-size: 0.55em;
      transition: 0.2s;
      position: relative;
      top: -12px;
    }
    .filter-button-active {
      --background: #faa71b;
      --border-radius: 50px;
      --border-style: solid;
      --border-width: 2px;
      --box-shadow: none;
      width: 70px;
      height: 28px;
      color: white;
      font-weight: 900;
      // margin-right: 32px;
      font-size: 0.55em;
      transition: 0.2s;
    }
}
.filter-type {
  h3 {
    color: #0055a5;
  }
}
.back-to-top {
  --background: #0055a5;
  position: relative;
  bottom: 54px;
}
.resource{
  margin: 30px auto;
  height: 75px;
  overflow: hidden;
  background: white;
  transition: 0.2s;
  border-radius: 8px;
  background: #e3f3ff;
  border-left: 5px solid #0055a5;

  .name {
    font-size: 1.2em;
    margin-bottom: 32px;
    color: #222;
    transition: 0.2s;
  }
  img {
    height: 100px;
  }
  ion-icon {
    font-size: 2em;
    color: white;
    background: #0055a5;
    border-radius: 50px;
    position: relative;
    top: 16px;
    float: right;
    transition: 0.2s;
  }
  ion-button {
    --background: #faa71b;
  }
}
.orange-button {
  margin-bottom: 100px;
}
.page-message {
  background: #fff8ed;
  border-left: 5px solid #faa71b;
  color: #333;
  margin: 2em auto;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 1px 1px 17px #d5d5d5;
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .filter {
    height: 35px;
    margin-bottom: 20px;
    border-radius: 0px;
    border: none;
    // box-shadow: 1px 1px 26px #22242859;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    z-index: 9999;
    margin-top: 40px;
    // padding: 1.7em 0em 0.5em 0;

  }
}
@media screen and (max-width: 600px) {
  .background {
    height: 300px;
    width: 100%;
    background-image:
      linear-gradient(0deg, rgba(0,85,165,0.65) 10%, rgba(250,167,27,0.2060679271708684) 100%), url('../../../assets/Keep-in-Touch-Picture-Small.png');
    background-size: auto 53%;
    background-position-x: 0px;
    background-position-y: -102px;
    background-attachment: fixed;
    border-radius: 0 0px 115px 115px;
    border-bottom: 14px solid #FAA71b;
    h1 {
      color: white;
      background: #faa71b;
      width: 128px;
      border-radius: 5px;
      position: relative;
      left: 12px;
      top: 12px;
      padding: 0.25em;
    }
  }
  .header {
    margin-top: 0px;
    h1 {
      margin-top: 20px;
      font-size: 26px;
      background: white;
      color: #0055a5;
      width: 240px;
      border-radius: 5px;
      margin: 1em;
    }
    .resources-icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 4px;
    }
  }
  .resources-icon {
    height: 40px;
    width: 37px;
    position: relative;
    top: 8px;
  }
  .page-info {
    padding: 0 1em;
    font-size: 1.1em;
    color: #222;
  }
  .resource{
    margin: 29px auto;
    height: 76px;
    color: #222;
    overflow: hidden;
    background: #e3f3ff;
    border-left: 5px solid #0055a5;

    transition: 0.2s;
    .name {
      font-size: 1.2em;
      margin-bottom: 32px;
      color: #222;
      transition: 0.2s;
    }
    img {
      height: 100px;
    }
    ion-icon {
      font-size: 1.6em;
      color: white;
      background: #0055a5;
      border-radius: 50px;
      position: relative;
      top: 10px;
      float: right;
      transition: 0.2s;
    }
  }
}